.wrapper {
    background-color: antiquewhite;
    padding: 5px;
    margin: 0 auto;
    width: 50vw;
}

.head {
    color: aliceblue;
    width: calc(50% - 50px);
    font-size: 14px;
    background-color: blue;
    padding: 2rem;
    border: 10px solid darkblue;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main {
    width: calc(50% - 300px);
    font-size: 14px;
    background-color: yellow;
    padding: 2rem;
    border: 30px solid darkolivegreen;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.foot {
    color: aliceblue;
    width: calc(50% - 50px);
    font-size: 14px;
    background-color: blue;
    padding: 2rem;
    border: 10px solid darkblue;
    border-radius: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
}